<div class = "col-sm-12 col-md-6 document-list-col">

<div class = "document-list-item">
<div class = "doc-list-name-container">
  {{#link-to "code-editor" document.documentId class='document-link'}}{{document.name}}  {{/link-to}}
  <p class = "doc-by-label">by </p>
  {{#link-to "documents" document.owner 0 'views' class='document-name-link'}}
  {{document.owner}}{{/link-to}}
</div>
<div class="tooltip doc-item-tooltip">...
<span class="tooltiptext">{{document.name}} by {{document.owner}} </span>
</div>
<div class = "doc-list-icon-container">
  {{#if document.readOnly}}
  <div class="tooltip">
    <span class="glyphicon glyphicon-lock doc-item-icon readonly-doc-icon" aria-hidden="true"></span>
    <span class="tooltiptext">Read Only</span>
  </div>
  {{/if}}
  {{#if document.isPrivate}}
  <div class="tooltip">
    <span class="glyphicon glyphicon-eye-close doc-item-icon private-doc-icon" aria-hidden="true"></span>
    <span class="tooltiptext">Private</span>
  </div>
  {{/if}}
  {{#if canEdit}}
    <div class="tooltip">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      {{input role="checkbox" type="checkbox" checked=doPlay click=(action 'toggleDontPlay')}}
      <span class="tooltiptext">Play on Open</span>
    </div>
    {{#bs-button class = "main-delete-button"
    tabIndex = "0"
    icon="glyphicon glyphicon-trash"
    onClick=(action 'delete')}}
    {{/bs-button}}
  {{/if}}
</div>
</div>
</div>
