<div class = "example-tile-container col-xs-12 col-sm-6 col-md-4 col-lg-3" id = {{colourId}} onclick = {{action 'onClick'}} onmouseover={{action "onover"}} onmouseout={{action "onout"}}>
  <div class = "example-desc-container">
    <p class = "example-tile-title" id = {{colourId}}>{{name}}</p>
    {{#each tags as |tag|}}
      <p class = "example-tile-tag">{{tag}}</p>
    {{/each}}
  </div>
  <div class = "example-color" id = {{colourId}}>
    {{filter-item isSelected = isSelected colourId = colourId}}
  </div>
</div>
