<div role = "button" tabIndex = "0"
class = "example-tile-container-outer col-xs-12 col-sm-12"
onclick = {{action 'onClick'}}
onmouseover={{action "onover"}}
onmouseout={{action "onout"}}
onkeypress = {{action 'onClick'}}>
  <div class = "example-tile-container" id = {{colourId}}>
    <table>
        <caption style = "padding:0px;color:inherit;"><p class = "example-tile-title" id = {{colourId}}>{{name}}</p></caption>
        <td>
          <div class = "example-desc-container" id = {{colourId}}>
            {{#each tags as |tag|}}
              <p class = "example-tile-tag">{{tag}}</p>
            {{/each}}
          </div>
          <div class = "example-color" id = {{colourId}}>
            {{shape-cell isSelected = isSelected colourId = colourId}}
          </div>
        </td>
        <td>
          <p class = "example-desc-text">{{description}}</p>
      </td>
    </table>
  </div>
</div>
