<div role = "button" tabIndex = "0"
class = {{concat "filter-item " filter.id}}
onkeypress={{action 'onFilter'}}
onclick={{action 'onFilter'}}>
  {{#if filter.highlightTitle}}
    <p class = {{concat "filter-text filter-text-selected " "filter-text-" filter.id}}>{{filter.title}}</p>
  {{else}}
    <p class = {{concat "filter-text " "filter-text-" filter.id}}>{{filter.title}}</p>
  {{/if}}
</div>
