<div class = {{concat "filter-item " filter.id}} onclick={{action 'onFilter'}}>
  {{#if filter.highlightTitle}}
    <p class = {{concat "filter-text filter-text-selected " "filter-text-" filter.id}}>{{filter.title}}</p>
  {{else}}
    <p class = {{concat "filter-text " "filter-text-" filter.id}}>{{filter.title}}</p>
  {{/if}}
</div>
