<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a {{action 'home'}} class="btn navbar-btn navbar-left">Home</a>
      {{#if session.isAuthenticated}}
        <a {{action 'logout'}} class="btn btn-danger navbar-btn navbar-right">Logout</a>
        {{#if sessionAccount.currentUserName}}
          <p class="navbar-text pull-right">Signed in as {{sessionAccount.currentUserName}}</p>
        {{/if}}
      {{else}}
        <a {{action 'login'}} class="btn btn-success navbar-btn navbar-right">Login</a>
      {{/if}}

    </div>
  </div>
</nav>
