<div id = "mimic-navbar">
{{#bs-nav type="pills" as |nav|}}
 {{#nav.item}}{{#nav.link-to "index"}}Home{{/nav.link-to}}{{/nav.item}}
 {{#if session.isAuthenticated}}
    <a {{action 'logout'}} class="btn btn-danger navbar-btn navbar-right">Logout</a>
   {{#if sessionAccount.currentUserName}}
     <p class="navbar-text pull-right">Signed in as {{sessionAccount.currentUserName}}</p>
   {{/if}}
   {{#nav.dropdown as |dd|}}
     {{#dd.toggle}}My Documents <span class="caret"></span>{{/dd.toggle}}
     {{#dd.menu as |ddm|}}
       {{#each ownedDocuments as |doc|}}
       {{#ddm.item}}
           <a class="dropdown-item" {{action 'openDoc' doc.id}}>{{doc.name}}</a>
       {{/ddm.item}}
       {{/each}}
     {{/dd.menu}}
   {{/nav.dropdown}}
 {{else}}
   <a {{action 'login'}} class="btn btn-success navbar-btn navbar-right">Login</a>
 {{/if}}
{{/bs-nav}}
</div>
