<div id = "mimic-navbar" class = "limited-width-container">
<img src={{logoURL}} class = "main-logo">
{{#bs-nav type="pills" as |nav|}}
 <a {{action 'about'}} class = "nav-button">about</a>
 <a {{action 'docs'}} class = "nav-button">projects</a>
 {{#if mediaQueries.isXs}}
 <div></div>
 {{else}}
   {{#if session.isAuthenticated}}
      <div id = "login-container">
        <a {{action 'logout'}} id = "logout-button" class="navbar-btn navbar-right pull-right">log out</a>
        {{#if sessionAccount.currentUserName}}
          <p id = "signed-in-label" class="navbar-text pull-right">logged in as {{sessionAccount.currentUserName}}</p>
        {{/if}}
      </div>
     {{#nav.dropdown as |dd|}}
       {{#dd.toggle class = "nav-dropdown" }}my docs <span  class="caret"></span>{{/dd.toggle}}
       {{#dd.menu as |ddm|}}
         {{#each ownedDocuments as |doc|}}
         {{#ddm.item}}
             <a class="dropdown-item" {{action 'openDoc' doc.id}}>{{doc.name}}</a>
         {{/ddm.item}}
         {{/each}}
       {{/dd.menu}}
     {{/nav.dropdown}}
   {{else}}
    <div id = "login-container">
     <a {{action 'login'}} id = "login-button" class="navbar-right">log in</a>
   </div>
   {{/if}}
{{/if}}
 <a {{action 'gettingStarted'}} class = "nav-button">getting started</a>
 {{#nav.dropdown as |dd|}}
   {{#dd.toggle class = "nav-dropdown" }}guides <span  class="caret"></span>{{/dd.toggle}}
   {{#dd.menu as |ddm|}}
     {{#each guides as |guide|}}
     {{#ddm.item}}
         <a class="dropdown-item" {{action 'openGuide' guide.id}}>{{guide.name}}</a>
     {{/ddm.item}}
     {{/each}}
   {{/dd.menu}}
 {{/nav.dropdown}}
 <a {{action 'examples'}} class = "nav-button">examples</a>
{{/bs-nav}}
</div>
