<div id='mimic-navbar' class='blur-background'>
  {{#bs-nav type='pills' as |nav|}}
    {{#if mediaQueries.isBurger}}
      {{#nav.dropdown as |dd|}}
        {{#dd.toggle class='nav-dropdown burger-btn'}}
          ≡
          <span class='caret'></span>{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}
            <a {{ action 'home'}} class='dropdown-item'>home</a>
          {{/ddm.item}}

          {{#ddm.item}}
            <a href="https://github.com/ual-cci/accelerate-immersive-framework/wiki" target="_blank" class='dropdown-item'>learn</a>
          {{/ddm.item}}

          {{#ddm.item}}
            <a
              {{action 'docs'}}
              href={{concat
                url
                '/d/'
                sessionAccount.currentUserName
                '/views/0'
              }}
              class='dropdown-item'
            >my projects</a>
          {{/ddm.item}}
        {{/dd.menu}}
      {{/nav.dropdown}}
    {{else}}
      <li><a {{action 'home'}} class='nav-dropdown'>home</a></li>
      <li><a href="https://github.com/ual-cci/accelerate-immersive-framework/wiki" target="_blank" class='nav-dropdown'>learn</a></li>

      {{#if session.isAuthenticated}}
        {{#nav.dropdown as |dd|}}
          {{#dd.toggle class='nav-dropdown'}}my projects
            <span class='caret'></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#each ownedDocuments as |doc|}}
              {{#ddm.item}}
                <a
                  class='dropdown-item'
                  {{action 'openDoc' doc.id}}
                >{{doc.name}}</a>
              {{/ddm.item}}
            {{/each}}
            <a
              id='create-doc-dropdown-item'
              class='dropdown-item'
              {{action 'allDocs'}}
            >...</a>
            <a
              id='create-doc-dropdown-item'
              class='dropdown-item'
              {{action 'createDoc'}}
            >+</a>
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{/if}}
    {{/if}}
  {{/bs-nav}}
  {{#if session.isAuthenticated}}
    <div id='login-container'>
      <div style='float:right;' class='tooltip'>
        <a
          {{action 'logout'}}
          class='login-button'
        >log out</a>
        <span class='tooltiptext'>logged in as
          {{sessionAccount.currentUserName}}</span>
      </div>
    </div>
  {{else}}
      <a {{action 'login'}} class='login-button'>Login</a>
  {{/if}}
</div>
