<div class='footer'>
  <img alt='u a l logo' src={{concat url '/images/logo-ual.png'}} />
  <img alt='accelerate logo' src={{concat url '/images/logo-accelerate.png'}} />
  <img alt='swps logo' src={{concat url '/images/logo-swps.png'}} />
  <img alt='cnu logo' src={{concat url '/images/logo-cnu.png'}} />
  <img alt='bath spa logo' src={{concat url '/images/logo-bath.png'}} />
  <img alt='erasmus logo' src={{concat url '/images/logo-erasmus.png'}} />
  <img alt='sumy logo' src={{concat url '/images/logo-sumy.png'}} />
  <img alt='dun laoghaire logo' src={{concat url '/images/logo-dun-laoghaire.png'}} />
</div>

<div class='footer centered'>
  <a href={{concat ur '/terms'}}>Terms and Conditions</a>
  <p>© Acclerate 2022</p>
</div>
