<div class="tooltip">
  <label class = "rec-checkbox" for="recordingCheckBox">Include Recording Button In Sketch?</label>
  {{input tabIndex = "0"
    type="checkbox"
    id='recordingCheckBox'
    checked=isRecording
    click=(action 'toggleRecording')}}
  <span class="tooltiptext">Toggle Recording Button</span>
</div>
{{#if isRecording}}
<div id = "possible-rec-node-list">
  <select id = "rec-select" onchange={{action "onSelectNode" value="target.value"}}>
    <option disabled> -- Pick a Node to Record -- </option>
    {{#each possibleNodes as |node index|}}
       <option value={{index}}>{{node.variable}}</option>
    {{/each}}
    <option value="user">Provide My Own</option>
  </select>
  {{#if showUserInput}}
  <span>
  {{input role = "form" value=userNode
  type="form-control" id="user-rec-input"
  placeholder = "Type name of variable here"
   focusOut=(action 'endEdittingUserNode')}}
 </span>
  {{/if}}
  <a style = "color:black;" href = {{concat url "/guides/recording"}}>Whats a node?</a>
</div>
  {{/if}}
