<div class = "shape-cell">
  <svg style="width:250px;height:105px;position:absolute;top:50%;left:0px;" viewBox="0 0 100 50" preserveAspectRatio="none" >
    {{#each shapes as |s|}}
      {{#if s.isCircle}}
      <circle cx = {{s.x}} cy = {{s.y}} r = {{s.r}} fill="white" opacity="0.175" />
      {{else if s.isRect}}
      <rect x = {{s.x}} y = {{s.y}} width = {{s.r}} height = {{s.r}} fill="white" opacity="0.175" />
      {{else}}
      <polygon points = {{concat s.x "," s.y " " s.xr "," s.y " " s.x2r "," s.yr }} fill="white" opacity="0.3" />
      {{/if}}
    {{/each}}
  </svg>
</div>
