<div class='snippet-editor'>
  <h3>{{snippet.title}}</h3>
  <form id='snippet-editor-form' {{action 'insert' snippet.fn on='submit'}}>
    <ul class='list-group new-user-group'>
      {{#each snippet.samples as |sample|}}
        {{#bs-button
          onClick=(action 'addSample' sample)
        }}{{sample.name}}{{/bs-button}}
      {{/each}}
      {{#each snippet.props as |prop|}}
        <li>
          <label for={{prop.name}}>{{prop.name}}</label>
          {{input
            class='login-input'
            id=prop.name
            placeholder=''
            name=prop.name
            value=prop.default
          }}
        </li>

      {{/each}}
    </ul>
    <p><button type='submit'>Insert</button></p>
    <p><button {{action 'close'}}>Cancel</button></p>
  </form>
</div>
