<div id = "about-container">
  <div class="center-cropped"
     style="background-image: url('{{concat url "/bg-bw.jpeg"}}');">
</div>
  {{about-description}}
  <div id = "about-text-container">
    <p class = "about-text">
      MIMIC is a web platform for the artistic exploration of musical machine learning and machine listening. We have designed this collaborative platform as an interactive online coding environment, engineered to bring new technologies in AI and signal processing to artists, composers, musicians and performers all over the world.
    </p>
    <p class = "about-text">
      The MIMIC platform has a built-in audio engine, machine learning and machine listening tools that makes it easy for creative coders to get started using these techniques in their own artistic projects. The platform also includes various examples of how to integrate external machine learning systems for sound, music and art making. These examples can be forked and further developed by the users of the platform.
    </p>
    <p class = "about-text">
      Over the next three years, we aim to integrate brand new and developing creative systems into this platform so that they can be more easily used by musicians and artists in the creation of entirely new music, sound, and media, enabling people to understand and apply new computational techniques such as Machine Learning in their own creative work.
    </p>
    <p class = "about-text">
      MIMIC or "Musically Intelligent Machines Interacting Creatively" is a three year AHRC-funded project, run by teams at Goldsmiths College, Durham University and the University of Sussex.
    </p>
    <p class = "about-text">
      Find our terms and conditions <a href = {{termsURL}}>here</a>
    </p>
  </div>
  <div id = "logo-footer">
    <div id = "logo-container">
      <div class="row">
        <div class = "col-md-2 col-sm-4 footer-logo-cell">
          <img class = "footer-logo-img" alt = "goldsmiths logo" id = "gs-logo" src = {{concat url "/1-Goldsmiths.png"}}>
        </div>
        <div class = "col-md-2 col-sm-4 footer-logo-cell">
          <img class = "footer-logo-img" alt = "durham logo" id = "durham-logo" src = {{concat url "/2-Durham.png"}}>
        </div>
        <div class = "col-md-2 col-sm-4 footer-logo-cell">
          <img class = "footer-logo-img" alt = "sussex logo" id = "sussex-logo" src = {{concat url "/3-Sussex.png"}}>
        </div>
        <div class = "col-md-2 col-sm-4 footer-logo-cell">
          <img class = "footer-logo-img" alt = "u a l logo" id = "ual-logo" src = {{concat url "/4-UAL.png"}}>
        </div>
        <div class = "col-md-2 col-sm-4 footer-logo-cell">
          <img class = "footer-logo-img" alt = "google logo "id = "google-logo" src = {{concat url "/5-Google.png"}}>
        </div>
        <div class = "col-md-2 col-sm-4 footer-logo-cell">
          <img class = "footer-logo-img" alt = "a h r c logo" id = "ahrc-logo" src = {{concat url "/6-AHRC.png"}}>
        </div>
      </div>
    </div>
  </div>
</div>
