<div>
  <div id = "code-header-container" class = "limited-width-container">
  <h4><span>{{feedbackMessage}}</span></h4>
  {{#if isEmbedded}}
  <div></div>
  {{else}}
  <div id = "doc-title-container">
    {{#if isNotEdittingDocName}}
      <span id = "doc-title" class="label label-default" {{action 'doEditDocName'}} for="doc-name">{{titleName}}</span>
    {{else}}
      {{input value=titleNoName type="form-control" id="doc-name-input" name="doc-name-input" focusOut=(action 'endEdittingDocName')}}
    {{/if}}
    {{#if mediaQueries.isDesktop}}
    <div id = "doc-controls-container">
      <div id = {{concat "render-doc-" isOwner}}>
        </div>
          <div id = "transport-container">
            <div class="tooltip">
              {{#if showSettings}}
                {{#bs-button id = "settings-btn" class = "clear-btn transport-btn" icon = "glyphicon glyphicon-chevron-up" onClick=(action "toggleShowSettings")}}{{/bs-button}}
              {{else}}
                {{#bs-button id = "settings-btn" class = "clear-btn transport-btn" icon = "glyphicon glyphicon-cog" onClick=(action "toggleShowSettings")}}{{/bs-button}}
              {{/if}}
              <span class="tooltiptext">Show Document Settings</span>
            </div>
            {{#if isOwner}}
            <div class="tooltip col-2">
              {{#bs-button icon="glyphicon glyphicon-remove" id = "code-delete-btn" class = "clear-btn transport-btn" onClick=(action "deleteDoc")}}{{/bs-button}}
              <span class="tooltiptext">Delete Document</span>
            </div>
            <div class="tooltip">
              {{#if showAssets}}
                {{#bs-button class = "clear-btn transport-btn" icon = "glyphicon glyphicon-chevron-up" onClick=(action "toggleShowAssets")}}{{/bs-button}}
              {{else}}
                {{#bs-button class = "clear-btn transport-btn" icon = "glyphicon glyphicon-file" onClick=(action "toggleShowAssets")}}{{/bs-button}}
              {{/if}}
              <span class="tooltiptext">Add Files to Use</span>
            </div>
            <div class="tooltip">
              {{#nav.dropdown as |dd|}}
                {{#dd.toggle class = "libraries-dropdown" }}libs <span  class="caret"></span>{{/dd.toggle}}
                {{#dd.menu as |ddm|}}
                  {{#each libraries as |doc|}}
                  {{#ddm.item}}
                      <a class="dropdown-item" {{action 'insertLibrary' lib.id}}>{{lib.name}}</a>
                  {{/ddm.item}}
                  {{/each}}
                {{/dd.menu}}
              {{/nav.dropdown}}
              <span class="tooltiptext">Add libraries</span>
            </div>
            {{/if}}
            <div class="tooltip">
              {{#if showShare}}
                {{#bs-button class = "clear-btn transport-btn" icon = "glyphicon glyphicon-chevron-up" onClick=(action "toggleShowShare")}}{{/bs-button}}
              {{else}}
                {{#bs-button class = "clear-btn transport-btn" icon = "glyphicon glyphicon-share" onClick=(action "toggleShowShare")}}{{/bs-button}}
              {{/if}}
              <span class="tooltiptext">Share links</span>
            </div>
            <div class="tooltip col-2">
              {{#bs-button icon="glyphicon glyphicon-play" id = "code-play-btn" class = "clear-btn transport-btn" onClick=(action "playOrPause")}}{{/bs-button}}
              <span class="tooltiptext">Render Code</span>
            </div>
            <div class="tooltip col-2">
              {{download-button doc = parentData}}
              <span class="tooltiptext">Download Project as Zip</span>
            </div>
            <div class="tooltip col-2">
              {{#bs-button icon="glyphicon glyphicon-fullscreen" class = "clear-btn transport-btn" onClick=(action "enterFullscreen")}}{{/bs-button}}
              <span class="tooltiptext">Enter Fullscreen</span>
            </div>
          </div>
    </div>
    {{else}}
      <div class="tooltip" style ="float:right;padding-top:18px;padding-right:18px;">
        {{#bs-button icon="glyphicon glyphicon-play" id = "mobile-play-btn" class = "clear-btn floated-right" onClick=(action "playOrPause")}}{{/bs-button}}
        <span class="tooltiptext">Render Code</span>
      </div>
    {{/if}}
  </div>
  {{#if showShare}}
  <div id = "share-container">
    <p>Editable Link : {{editLink}}</p>
    <p>Embed Link : {{embedLink}}</p>
  </div>
  {{/if}}
  {{#if showSettings}}
  <div id = "settings-container">
    {{#if session.isAuthenticated}}
      <div class="tooltip">
        {{#bs-button class = "clear-text-btn" onClick=(action "forkDocument")}}FORK{{/bs-button}}
        <span class="tooltiptext">Make Your Own Copy</span>
      </div>
      <div class="tooltip">
        {{#bs-button class = "clear-text-btn" onClick=(action "flagDocument")}}FLAG{{/bs-button}}
        <span class="tooltiptext">Report as Inappropriate</span>
      </div>
    {{/if}}
    {{#if isOwner}}
      <div class="tooltip">
        <label class = "doc-checkbox" for="privacyCheckbox">PRIVATE</label>
        {{input type="checkbox" id='privacyCheckbox' checked=model.isPrivate click=(action 'togglePrivacy')}}
        <span class="tooltiptext">Other users can discover</span>
      </div>
      <div class="tooltip">
        <label class = "doc-checkbox" for="readOnlyCheckbox">READ ONLY</label>
        {{input type="checkbox" id='readOnlyCheckbox' checked=model.readOnly click=(action 'toggleReadOnly')}}
        <span class="tooltiptext">WARNING! Other users can edit your code</span>
      </div>
      {{#if canEditDoc}}
        <div class="tooltip">
          <label class = "doc-checkbox" for="autoRenderCheckbox">AUTO RENDER</label>
          {{input type="checkbox" id='autoRenderCheckbox' checked=autoRender click=(action 'toggleAutoRender')}}
          <span class="tooltiptext">Render Code Whilst Typing</span>
        </div>
      {{/if}}
    {{/if}}
  </div>
  {{/if}}
  {{#if showAssets}}
    <div class = "file-upload-container">
         <div id = "uploaded-assets-container">
          {{#each model.assets as |asset|}}
            <div class = "asset-container">
              <p class = "file-text file-name">{{asset.name}}</p>
              {{#bs-button class = "clear-btn file-btn" icon="glyphicon glyphicon-remove" onClick=(action "deleteAsset" asset.fileId)}}{{/bs-button}}
              {{#bs-button class = "clear-btn file-btn" icon="glyphicon glyphicon-eye-open" onClick=(action "previewAsset" asset)}}{{/bs-button}}
            </div>
          {{/each}}
        </div>
      {{#if canEditDoc}}
      <div id = "asset-progress"></div>
      <div class = "file-upload">
        {{file-upload
          multiple = true
          onProgress = (action 'assetProgress')
          onCompletion = (action 'assetUploaded')
          onError = (action 'assetError')
        }}
      </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if showConnectionWarning}}
    <div id = "connection-warning-container">
         <p id = connection-warning-text> Warning: connection issues mean that the autosave function has ceased working.
           We recommend you reload the site to avoid loosing work</p>
    </div>
  {{/if}}
  {{#if mediaQueries.isDesktop}}
    {{tokenfield-input
      tokens=model.tags
      allowDuplicates=false
      placeholder="Enter Tags"
      editable=canEditDoc
      tokensChanged=(action 'tagsChanged')
    }}
  {{/if}}
  {{/if}}


  </div>
    {{#if mediaQueries.isDesktop}}
    {{#if isEmbedded}}
    <div></div>
    {{else}}
      {{project-tabs
        parent = parentData
        tabs = tabs
        onSelect = (action 'tabSelected')
        onDelete = (action 'tabDeleted')
        onCreate = (action 'newTab')}}
    {{/if}}
    {{/if}}
    <div id = "main-code-container">
      {{#if mediaQueries.isDesktop}}
      {{#if isEmbedded}}
      <div></div>
      {{else}}
      <div id = "drag-container">
        {{#if isShowingCode}}
          {{#bs-button class = "hide-code-btn" icon="glyphicon glyphicon-menu-right" onClick=(action "hideCode")}}{{/bs-button}}
        {{else}}
          {{#bs-button class = "hide-code-btn" icon="glyphicon glyphicon-menu-left" onClick=(action "showCode")}}{{/bs-button}}
        {{/if}}
        <div id = "drag-button" onmousedown={{action "mouseDown"}} onmouseup={{action "mouseUp"}} onmousemove={{action "mouseMove"}}></div>
          {{#if isShowingCode}}
          <div id = "playback-container">
            {{ops-player
              onSkip = (action 'skipOp')
              onPlay = (action 'playOps')
              onRewind = (action 'rewindOps')
              onPause = (action 'pauseOps')
              isPlaying = isPlayingOps
            }}
            {{#bs-button
              class = "clear-btn"
              icon="glyphicon glyphicon-zoom-in"
              onClick=(action "zoomIn")}}
            {{/bs-button}}
            {{#bs-button
              class = "clear-btn"
              icon="glyphicon glyphicon-zoom-out"
              onClick=(action "zoomOut")}}
            {{/bs-button}}
          </div>
          {{/if}}
        </div>
      {{/if}}

      {{/if}}
      <div id = "output-container" onmouseup={{action "mouseUp"}} onmousemove={{action "mouseMove"}}>
        <iframe id = "output-iframe" frameBorder="0" srcdoc={{renderedSource}}></iframe>
      </div>
      <div id = "ace-container" style = {{aceStyle}} onmouseup={{action "mouseUp"}} onmousemove={{action "mouseMove"}}>
        <!-- <div id = "code-transport-tracking-area" onmouseover={{action "mouseoverCodeTransport"}} ></div>
        <div id = "code-transport-container" onmouseleave={{action "mouseoutCodeTransport"}}>
        </div> -->

          {{ember-ace
            minLines = 40
            maxLines = 10000
            value=value
            higglightActiveLine = true
            ready=(action 'editorReady')
            theme='ace/theme/monokai'
            enableDefaultAutocompletion=true
            enableLiveAutocompletion=true
            enableBasicAutocompletion=true
            suggestCompletions = (action 'suggestCompletions')
          }}
        </div>
      </div>
      {{#if mediaQueries.isDesktop}}
      {{#if isEmbedded}}
      <div></div>
      {{else}}
      <textarea readonly id="console" rows="5" wrap="hard" maxlength = 500>{{consoleOutput}}</textarea>
      {{/if}}
      {{/if}}
</div>
