<div class = "container-fluid">
  <h4><span>{{feedbackMessage}}</span></h4>
  <div id = "doc-title-container">
  {{#if showName}}
    {{#if isNotEdittingDocName}}
      <span id = "doc-title" class="label label-default" {{action 'doEditDocName'}} for="doc-name">{{titleName}}</span>
    {{else}}
      {{input value=titleNoName type="form-control" id="doc-name-input" name="doc-name-input" focusOut=(action 'endEdittingDocName')}}
    {{/if}}
    <div id = "doc-controls-container">
      <div id = "render-doc">
      {{#if session.isAuthenticated}}
        <div class = "fork-flag">
          <div class="tooltip">
            {{#bs-button class = "clear-text-btn" onClick=(action "forkDocument")}}FORK{{/bs-button}}
            <span class="tooltiptext">Make Your Own Copy</span>
          </div>
          <div class="tooltip">
            {{#bs-button class = "clear-text-btn" onClick=(action "flagDocument")}}FLAG{{/bs-button}}
            <span class="tooltiptext">Report as Inappropriate</span>
          </div>
        </div>
      {{/if}}
        {{#if canEditDoc}}
          <div class="tooltip">
            <label for="autoRenderCheckbox">AUTO RENDER</label>
            {{input type="checkbox" id='autoRenderCheckbox' checked=autoRender click=(action 'toggleAutoRender')}}
            <span class="tooltiptext">Render Code Whilst Typing</span>
          </div>
        {{/if}}
        </div>
          <div id = "transport-container">
            {{#if isOwner}}
            <div class="tooltip col-2">
              {{#bs-button icon="glyphicon glyphicon-remove" class = "clear-btn transport-btn" onClick=(action "deleteDoc")}}{{/bs-button}}
              <span class="tooltiptext">Delete Document</span>
            </div>
            <div class="tooltip">
              {{#bs-button class = "clear-btn transport-btn" icon = "glyphicon glyphicon-file" onClick=(action "toggleShowAssets")}}{{/bs-button}}
              <span class="tooltiptext">Add Files to Use</span>
            </div>
            {{/if}}
            <div class="tooltip">
              {{#bs-button class = "clear-btn transport-btn" icon = "glyphicon glyphicon-share" onClick=(action "toggleShowShare")}}{{/bs-button}}
              <span class="tooltiptext">Share links</span>
            </div>
            <div class="tooltip col-2">
              {{#bs-button icon="glyphicon glyphicon-play" id = "code-play-btn" class = "clear-btn transport-btn" onClick=(action "playOrPause")}}{{/bs-button}}
              <span class="tooltiptext">Render Code</span>
            </div>
            <div class="tooltip col-2">
              {{download-button doc = parentData}}
              <span class="tooltiptext">Download Project as Zip</span>
            </div>
            <div class="tooltip col-2">
              {{#bs-button icon="glyphicon glyphicon-fullscreen" class = "clear-btn transport-btn" onClick=(action "enterFullscreen")}}{{/bs-button}}
              <span class="tooltiptext">Enter Fullscreen</span>
            </div>
          </div>
    </div>
  {{/if}}
  </div>
  <div>
    {{tokenfield-input
      tokens=model.tags
      allowDuplicates=false
      placeholder="Enter Tags"
      editable=canEditDoc
      tokensChanged=(action 'tagsChanged')
    }}
    </div>
          <!-- <div class="tooltip">
            <label for="privacyCheckbox">Private?</label>
            {{input type="checkbox" id='privacyCheckbox' checked=model.isPrivate click=(action 'togglePrivacy')}}
            <span class="tooltiptext">Other users can discover</span>
          </div>
          <div class="tooltip">
            <label for="readOnlyCheckbox">Read Only?</label>
            {{input type="checkbox" id='readOnlyCheckbox' checked=model.readOnly click=(action 'toggleReadOnly')}}
            <span class="tooltiptext">WARNING! Other users can edit your code</span>
          </div>-->
    {{#if showAssets}}
      <div class = "file-upload-container">
        <table>
         <tr>
           <div id = "uploaded-assets-container">
            {{#each model.assets as |asset|}}
            <th>
              <div class = "asset-container">
                <p class = "file-text file-name">{{asset.name}}</p>
                {{#bs-button class = "clear-btn delete-asset-btn" icon="glyphicon glyphicon-remove" onClick=(action "deleteAsset" asset.fileId)}}{{/bs-button}}
                {{#bs-button class = "clear-btn preview-asset-btn" icon="glyphicon glyphicon-eye-open" onClick=(action "previewAsset" asset)}}{{/bs-button}}
              </div>
            </th>
            {{/each}}
          </div>
          </tr>
        </table>
        {{#if canEditDoc}}
        <div id = "asset-progress"></div>
        <div class = "file-upload">
          {{file-upload
            onProgress = (action 'assetProgress')
            onCompletion = (action 'assetUploaded')
            onError = (action 'assetError')
          }}
        </div>
        {{/if}}
      </div>
    {{/if}}
    {{#if displayEditor}}
      {{project-tabs
        parent = parentData
        tabs = tabs
        onSelect = (action 'tabSelected')
        onDelete = (action 'tabDeleted')
        onCreate = (action 'newTab')}}
    {{/if}}
    <div id = "main-code-container">
      <div class = "output-container" onmouseup={{action "mouseUp"}} onmousemove={{action "mouseMove"}}>
        <iframe id = "output-iframe" srcdoc={{renderedSource}}></iframe>
      </div>
      <div class = "ace-container" style = {{aceStyle}} onmouseup={{action "mouseUp"}} onmousemove={{action "mouseMove"}}>
        <div id = "code-transport-tracking-area" onmouseover={{action "mouseoverCodeTransport"}} ></div>
        <div id = "code-transport-container" onmouseleave={{action "mouseoutCodeTransport"}}>
          <div id = "playback-container">
            <h5>Playback your coding</h5>
            {{ops-player
              onSkip = (action 'skipOp')
              onPlay = (action 'playOps')
              onRewind = (action 'rewindOps')
              onPause = (action 'pauseOps')
            }}
          </div>
            <div id = "zoom-container">
            {{#bs-button
              class = "clear-btn"
            icon="glyphicon glyphicon-zoom-in"
            onClick=(action "zoomIn")}}
            {{/bs-button}}
            {{#bs-button
              class = "clear-btn"
            icon="glyphicon glyphicon-zoom-out"
            onClick=(action "zoomOut")}}
            {{/bs-button}}
          </div>
        </div>
        {{#if isShowingCode}}
          {{#bs-button class = "hide-code-btn" icon="glyphicon glyphicon-menu-right" onClick=(action "hideCode")}}{{/bs-button}}
        {{else}}
          {{#bs-button class = "hide-code-btn" icon="glyphicon glyphicon-menu-left" onClick=(action "showCode")}}{{/bs-button}}
        {{/if}}
        <div id = "drag-button" onmousedown={{action "mouseDown"}} onmouseup={{action "mouseUp"}} onmousemove={{action "mouseMove"}}></div>
          {{ember-ace
            minLines = 40
            maxLines = 10000
            value=value
            higglightActiveLine = true
            ready=(action 'editorReady')
            theme='ace/theme/monokai'
            enableDefaultAutocompletion=true
            enableLiveAutocompletion=true
            enableBasicAutocompletion=true
            suggestCompletions = (action 'suggestCompletions')
          }}
        </div>
      </div>
      {{#if displayEditor}}
      <textarea id="console" rows="5" wrap="hard" maxlength = 500>{{consoleOutput}}</textarea>
      {{/if}}
</div>
