<div>
{{file-upload}}
</div>
<div>
{{#each model.assets as |asset|}}
  {{asset.name}}
{{/each}}
</div>
<div>
  {{tokenfield-input
    tokens=model.tags
    allowDuplicates=false
    placeholder="Enter Tags"
    tokensChanged=(action 'tagsChanged')
  }}
</div>
<div style = "float:left;">
  <iframe srcdoc={{renderedSource}} width='100%' height=300></iframe>
</div>
<div>
{{ember-ace lines=30 value=value ready=(action 'editorReady')}}
</div>
