<div id = "main-document-container" class = "limited-width-container">
<form {{action 'search' on='submit'}}>
  {{input id='searchTerm' class = "limited-width-container" placeholder='search' value=searchTerm key-press=(action "search")}}
</form>
<div class = "row" id = "doc-create-container">
{{#if session.isAuthenticated}}
  <div id = "create-doc-form-container">
    <form id = "create-doc-form" {{action 'createNewDocument' on='submit'}}>
      {{input id='create-doc-name' placeholder='document name' value=docName}}
    </form>
  </div>
  <div id = "create-doc-btn-container">
    <button type="submit"  onclick = {{action 'createNewDocument'}} id = "create-doc-btn">create</button>
    {{#bs-button onClick=(action 'isPrivateChanged') id ="private-btn"}}{{isPrivateText}}{{/bs-button}}
  </div>
{{else}}
  <div id = "create-doc-placeholder"></div>
{{/if}}
</div>
{{#if feedbackMessage}}
  <label>{{feedbackMessage}}</label>
{{/if}}
{{#if hasNoDocuments}}
  <h2 style = "text-align:center;">No Results</h2>
{{/if}}
<div id = "filter-container">
{{#if mediaQueries.isXs}}
<div class = "row">
  {{#each showingFilters as |filter index|}}
  <div class = "col-xs-6 filter-col filter-col-xs">
    {{filter-item filter=filter onFilter = (action 'filter' filter) isSelected = filter.isSelected}}
  </div>
  {{/each}}
  {{#if isMore}}
  <div class = "col-xs-6 filter-col filter-col-xs">
    <div class = "filter-item load-more-item" onclick={{action 'loadMore' 2}}>
      <p class = "filter-text">More...</p>
    </div>
  </div>
  {{else}}
  <div class = "col-xs-2 filter-col filter-col-lg">
    <div class = "filter-item load-more-item" onclick={{action 'loadLess'}}>
      <p class = "filter-text">Less...</p>
    </div>
  </div>
  {{/if}}
</div>
{{else if mediaQueries.isSm}}
<div class = "row" id = "filter-row">
  {{#each showingFilters as |filter index|}}
  <div class = "col-xs-4 filter-col filter-col-sm">
    {{filter-item filter=filter onFilter = (action 'filter' filter) isSelected = filter.isSelected}}
  </div>
  {{/each}}
  {{#if isMore}}
  <div class = "col-xs-4 filter-col filter-col-sm">
    <div class = "filter-item load-more-item" onclick={{action 'loadMore' 3}}>
      <p class = "filter-text">More...</p>
    </div>
  </div>
  {{else}}
  <div class = "col-xs-2 filter-col filter-col-lg">
    <div class = "filter-item load-more-item" onclick={{action 'loadLess'}}>
      <p class = "filter-text">Less...</p>
    </div>
  </div>
  {{/if}}
</div>
{{else if mediaQueries.isMd}}
<div class = "row" id = "filter-row">
  {{#each showingFilters as |filter index|}}
  <div class = "col-xs-3 filter-col filter-col-md">
    {{filter-item filter=filter onFilter = (action 'filter' filter) isSelected = filter.isSelected}}
  </div>
  {{/each}}
  {{#if isMore}}
  <div class = "col-xs-3 filter-col filter-col-md">
    <div class = "filter-item load-more-item" onclick={{action 'loadMore' 4}}>
      <p class = "filter-text">More...</p>
    </div>
  </div>
  {{else}}
  <div class = "col-xs-2 filter-col filter-col-lg">
    <div class = "filter-item load-more-item" onclick={{action 'loadLess'}}>
      <p class = "filter-text">Less...</p>
    </div>
  </div>
  {{/if}}
</div>
{{else}}
<div class = "row" id = "filter-row">
  {{#each showingFilters as |filter index|}}
  <div class = "col-xs-2 filter-col filter-col-lg">
    {{filter-item filter=filter onFilter = (action 'filter' filter) isSelected = filter.isSelected}}
  </div>
  {{/each}}
  {{#if isMore}}
  <div class = "col-xs-2 filter-col filter-col-lg">
    <div class = "filter-item load-more-item" onclick={{action 'loadMore' 5}}>
      <p class = "filter-text">More...</p>
    </div>
  </div>
  {{else}}
  <div class = "col-xs-2 filter-col filter-col-lg">
    <div class = "filter-item load-more-item" onclick={{action 'loadLess'}}>
      <p class = "filter-text">Less...</p>
    </div>
  </div>
  {{/if}}
</div>
{{/if}}
</div>
<div class = "container-fluid" id = "document-container">
  <div class = "row">
    {{#each model as |document index|}}
        {{document-list-item
          document=document
          index=index
          onOpen=(action 'openDocument' document.documentId)
          onDelete=(action 'deleteDocument' document.documentId)
        }}
    {{/each}}
  </div>
  <div id = "page-nav-container">
  {{#if canGoBack}}
    <button id = "prev-page-btn" {{action "prevPage"}}>Previous Projects</button>
  {{/if}}
  {{#if canGoForwards}}
    <button id = "next-page-btn"  {{action "nextPage"}}>More Projects</button>
  {{/if}}
  </div>
</div>
</div>
