<div class = "container">
<form {{action 'search' on='submit'}}>
  {{input id='searchTerm' placeholder='search' value=searchTerm key-press="search"}}
</form>
</div>
<div class = "container-fluid doc-create-container">
{{#if session.isAuthenticated}}
  <form {{action 'createNewDocument' on='submit'}}>
    {{input id='docName' placeholder='document name' value=docName}}
    <button type="submit" id = "create-doc-btn">create</button>
    {{#bs-button onClick=(action 'isPrivateChanged') id ="private-btn"}}{{isPrivateText}}{{/bs-button}}
  </form>
{{else}}
  <div id = "create-doc-placeholder"></div>
{{/if}}
</div>
{{#if feedbackMessage}}
  <label>{{feedbackMessage}}</label>
{{/if}}
{{#if hasNoDocuments}}
  <h2 style = "text-align:center;">No Results</h2>
{{/if}}
<div class = "row">
  <div class = "col-xs-6 col-sm-6 col-md-4 col-lg-2 filter-col">
    <div class = "filter-item" id = "newest" onclick={{action 'recent'}}>
      <p class = "filter-text">NEWEST</p>
    </div>
  </div>
  <div class = "col-xs-6 col-sm-6 col-md-4 col-lg-2 filter-col">
    <div class = "filter-item" id = "popular" onclick={{action 'popular'}}>
      <p class = "filter-text">POPULAR</p>
    </div>
  </div>
  <div class = "col-xs-6 col-sm-6 col-md-4 col-lg-2 filter-col">
    <div class = "filter-item" id = "remixed" onclick={{action 'forked'}}>
      <p class = "filter-text">MOST REMIXED</p>
    </div>
  </div>
  <div class = "col-xs-6 col-sm-6 col-md-4 col-lg-2 filter-col">
    <div class = "filter-item" id = "editted" onclick={{action 'editted'}}>
      <p class = "filter-text">MOST WORKED ON</p>
    </div>
  </div>
  <div class = "col-xs-6 col-sm-6 col-md-4 col-lg-2 hidden-sm hidden-xs filter-col">
    <div class = "filter-item" id = "updated" onclick={{action 'updated'}}>
      <p class = "filter-text">UPDATED</p>
    </div>
  </div>
  <div class = "col-xs-6 col-sm-6 col-md-4 col-lg-2 hidden-sm hidden-xs filter-col">
    <div class = "filter-item" id = "oldest" onclick={{action 'recent'}}>
      <p class = "filter-text">OLDEST</p>
    </div>
  </div>
</div>
<div class = "row hidden-md hidden-sm hidden-xs">
  {{#each tags as |tag|}}
  <div class = "col-sm-6 col-md-4 col-lg-2 filter-col">
    <div class = "filter-item" onclick={{action 'tag' tag._id}}>
      <p class = "filter-text">{{tag._id}}</p>
    </div>
  </div>
  {{/each}}
</div>
<div class = "container-fluid">
  <div class = "row">
    {{#each model as |document index|}}
        {{document-list-item
          document=document
          index=index
          onOpen=(action 'openDocument' document.documentId)
          onDelete=(action 'deleteDocument' document.documentId)
        }}
    {{/each}}
  </div>
  {{#if canGoBack}}
    <button {{action "prevPage"}}>Prev Page</button>
  {{/if}}
  {{#if canGoForwards}}
    <button {{action "nextPage"}}>Next Page</button>
  {{/if}}
</div>
