<div class = "container">
{{#if session.isAuthenticated}}
  <form {{action 'createNewDocument' on='submit'}}>
    {{input id='docName' placeholder='Doc Name' value=docName}}
    <label for="isPrivate">Private?</label>
    {{input type="checkbox" id='isPrivate' checked=true click=(action 'checkboxClicked')}}
    <button type="submit">Create New Document</button>
  </form>
{{/if}}
{{#if feedbackMessage}}
  <label>{{feedbackMessage}}</label>
{{/if}}
</div>
<div class = "container">
<form {{action 'search' on='submit'}}>
  {{input id='searchTerm' placeholder='Search...' value=searchTerm key-press="search"}}
  <button type="submit">Search</button>
  {{#if message}}
    <p style = "text-align:center;">{{message}}</p>
  {{/if}}
  {{#if hasNoDocuments}}
    <h2 style = "text-align:center;">No Results</h2>
  {{/if}}
</form>
</div>
<div class = "container-fluid">
  <div class = "row">
    {{#each model as |document index|}}
        {{document-list-item
          document=document
          index=index
          onOpen=(action 'openDocument' document.documentId)
          onDelete=(action 'deleteDocument' document.documentId)
          toggleDontPlay=(action 'toggleDontPlay' document.documentId)
        }}
    {{/each}}
  </div>
  {{#if canGoBack}}
    <button {{action "prevPage"}}>Prev Page</button>
  {{/if}}
  {{#if canGoForwards}}
    <button {{action "nextPage"}}>Next Page</button>
  {{/if}}
</div>
