<div class = "container">
{{#if session.isAuthenticated}}
  <form {{action 'createNewDocument' on='submit'}}>
    {{input id='docName' placeholder='Doc Name' value=docName}}
    <label for="isPrivate">Private?</label>
    {{input type="checkbox" id='isPrivate' checked=true click=(action 'checkboxClicked')}}
    <button type="submit">Create New Document</button>
  </form>
{{/if}}
{{#if feedbackMessage}}
  <label>{{feedbackMessage}}</label>
{{/if}}
</div>
<div class = "container">
<form {{action 'search' on='submit'}}>
  {{input id='searchTerm' placeholder='search' value=searchTerm key-press="search"}}
  {{#if hasNoDocuments}}
    <h2 style = "text-align:center;">No Results</h2>
  {{/if}}
</form>
</div>
<div class = "center">
  {{#bs-button onClick=(action 'recent')}} Newest {{/bs-button}}
  {{#bs-button onClick=(action 'popular')}} Popular {{/bs-button}}
  {{#bs-button onClick=(action 'updated')}} Updated {{/bs-button}}
  {{#bs-button onClick=(action 'forked')}} Most Remixed {{/bs-button}}
  {{#bs-button onClick=(action 'editted')}} Most Worked-on {{/bs-button}}
</div>
<div class = "center">
  {{#each tags as |tag|}}
    {{#bs-button onClick=(action 'tag' tag._id)}} {{tag._id}} {{/bs-button}}
  {{/each}}
</div>
<div class = "container-fluid">
  <div class = "container-fluid">
    {{#each model as |document index|}}
        {{document-list-item
          document=document
          index=index
          onOpen=(action 'openDocument' document.documentId)
          onDelete=(action 'deleteDocument' document.documentId)
        }}
    {{/each}}
  </div>
  {{#if canGoBack}}
    <button {{action "prevPage"}}>Prev Page</button>
  {{/if}}
  {{#if canGoForwards}}
    <button {{action "nextPage"}}>Next Page</button>
  {{/if}}
</div>
