{{#if isExample}}
  <div id = "example-text-container">
    {{#if isMagnet}}
    {{magnet-guide}}
    {{/if}}
    {{#if isBBcut}}
    {{bbcut-guide}}
    {{/if}}
    {{#if isEvolib}}
    {{evolib-example-guide}}
    {{/if}}
    {{#if isMario}}
    {{mario-guide}}
    {{/if}}
    {{#if isMerk}}
    {{merkgenta-guide}}
    {{/if}}
    {{#if isMarkov}}
    {{markov-guide}}
    {{/if}}
    {{#if isAudiotrig}}
    {{audio-classifier-guide}}
    {{/if}}
    {{#if isFace}}
    {{face-synth-guide}}
    {{/if}}
    {{#if isRhythm}}
    {{rhythm-remixer-guide}}
    {{/if}}
    {{#if isConceptular}}
    {{conceptular-guide}}
    {{/if}}
    {{#if isSpec}}
    {{spec-guide}}
    {{/if}}
    {{#if isLyric}}
    {{lyric-guide}}
    {{/if}}
    {{#if isSun}}
    {{sun-on-your-skin-guide}}
    {{/if}}
    {{#if isKicks}}
    {{kick-classifier-guide}}
    {{/if}}
  </div>
{{else}}
  <div id = "tutorial-container">
  <h2>Examples</h2>
  <h3>Example projects</h3>
  <p class = "tutorial-text">
  These projects demonstrate how to use machine intelligence to make music in the browser
  </p>
  <div id = "example-container" class = "row">
    {{#each model as |group index|}}
      <h1>{{group.title}}</h1>
      <div class = "row">
      {{#each group.examples as |example|}}
        {{example-tile onClick = (action 'onClick' example) example = example index = index}}
      {{/each}}
      </div>
    {{/each}}
    </div>
  </div>
{{/if}}
