{{#if isGuide}}
<div id = "tutorial-container">
<h1> Guide to {{model.name}} </h1>
{{#if isKadenze}}
{{kadenze-guide}}
{{/if}}
{{#if isMaxim}}
{{maximillian-guide}}
{{/if}}
{{#if isMMLL}}
{{mmll-guide}}
{{/if}}
{{#if isRapid}}
{{rapidlib-guide}}
{{/if}}
{{#if isEvolib}}
{{evolib-guide}}
{{/if}}
</div>
{{else}}
<div id = "tutorial-container">
<h2>Guides</h2>
<h3>Simple code examples of MIMIC libraries and ML concepts</h3>
<p class = "tutorial-text">
Each guide below uses a MIMIC library to demonstrate how to use machine intelligence to make music in the browser
</p>
<div id = "guide-container">
{{#each model as |guide|}}
  <a class = "guide-link" href = {{guide.url}}>{{guide.name}}</a><br>
{{/each}}
</div>
</div>
{{/if}}
