{{#if isGuide}}
<div id = "tutorial-container">
<h1> Guide to {{model.name}} </h1>
{{#if isKadenze}}
{{kadenze-guide}}
{{/if}}
{{#if isMaxim}}
{{maximillian-guide}}
{{/if}}
{{#if isMMLL}}
{{mmll-guide}}
{{/if}}
{{#if isRAPIDMIX}}
{{rapidlib-guide}}
{{/if}}
{{#if isEvolib}}
{{evolib-guide}}
{{/if}}
{{#if isLearner}}
{{learner-guide}}
{{/if}}
{{#if isMaxiInstruments}}
{{maxiinstrument-guide}}
{{/if}}
{{#if isRecording}}
{{recording-guide}}
{{/if}}
</div>
{{else}}
<div id = "tutorial-container">
<h2>Guides</h2>
<h3>Simple code examples of MIMIC libraries and ML concepts</h3>
<p class = "tutorial-text">
Each guide below uses a MIMIC library to demonstrate how to use machine intelligence to make music in the browser
</p>
{{#each model as |group index|}}
  <h1>{{group.title}}</h1>
  <div class = "row">
  {{#each group.guides as |guide|}}
    {{guide-tile onClick = (action 'onClick' guide) guide = guide index = index}}
  {{/each}}
</div>
{{/each}}
</div>
{{/if}}
