<div class = "container">
<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Username</label>
  {{input id='identification' placeholder='Enter Login' value=identification}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
  {{#if loginErrorMessage}}
    <p>{{loginErrorMessage}}</p>
  {{/if}}
</form>
</div>
<div class = "container">
<form {{action 'createNewUser' on='submit'}}>
  <label for="newUsername">Username</label>
  {{input id='newUsername' placeholder='Username' value=newUsername}}
  <label for="newUserEmail">Email (optional)</label>
  {{input id='newUserEmail' placeholder='Email' value=newUserEmail}}
  <label for="newUserPassword">Password</label>
  {{input id='newUserPassword' placeholder='Enter Password' type='password' value=newUserPassword}}
  <label for="newUserPasswordAgain">Password (again)</label>
  {{input id='newUserPasswordAgain' placeholder='Enter Password (again)' type='password' value=newUserPasswordAgain}}
  <button type="submit">Create New User</button>
  {{#if registerMessage}}
    <p>{{registerMessage}}</p>
  {{/if}}
</form>
</div>
<div class = "container">
<form {{action 'resetPassword' on='submit'}}>
  <label for="resetUsername">Username</label>
  {{input id='resetUsername' placeholder='Username' value=resetUsername}}
  <button type="submit">Reset Password</button>
  {{#if resetMessage}}
    <p>{{resetMessage}}</p>
  {{/if}}
</form>
</div>
