<div class = "container">
<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label>
  {{input id='identification' placeholder='Enter Login' value=identification}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>
</div>
<div class = "container">
<form {{action 'createNewUser' on='submit'}}>
  <label for="newUserIdentification">Register New Users</label>
  {{input id='newUserIdentification' placeholder='Enter Login' value=newUserIdentification}}
  <label for="newUserPassword">Password</label>
  {{input id='newUserPassword' placeholder='Enter Password' type='password' value=newUserPassword}}
  <button type="submit">Create</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>
</div>
