{{#if hasValidToken}}
  <div>
    <h1>RESET YOUR PASSWORD</h1>
    <div class = "container">
    <form {{action 'resetPassword' on='submit'}}>
      <label for="password">Password</label>
      {{input id='password' placeholder='Enter Password' type='password' value=password}}
      <label for="passwordAgain">Password (again)</label>
      {{input id='passwordAgain' placeholder='Enter Password (again)' type='password' value=passwordAgain}}
      <button type="submit">Reset Password</button>
      {{#if resetMessage}}
        <p>{{resetMessage}}</p>
      {{/if}}
    </form>
    </div>
  </div>
{{else}}
  <div>
    <h1>NICE TRY</h1>
  </div>
{{/if}}
