<div class = "limited-width-container">

<h1>Tech Yard Demos</h1>

<h2>1. Impulses</h2>

<p class = "tutorial-text">
  In order to tell the speaker how to move in and out, we send it a stream of numbers. In fact, we send over 40,000 numbers <strong> every second!</strong>. This stream of numbers is often called a signal and we can use maths and computer programs to generate these signals.
</p>

<p class = "tutorial-text">
  <ul>
    <li><strong>When we send a 1</strong>: this moves to speaker fully out</li>
    <li><strong>When we send a -1</strong>: this moves it fully in</li>
    <li><strong>When its 0</strong>: the speaker is in its normal position</li>
  </ul>
</p>

<p class = "tutorial-text">
  The first signal we're going to send to the speaker tells it to move in and out (up to 1 and then doen to 0) for really short amount of time, followed by a pause. When the gap between these is long, you will hear this is a series of individual short sounds.
</p>

<p class = "tutorial-text">
  As we make the gaps between the spikes shorter, the sounds get quicker and eventually, they begin to sound like one continuous sound. Even better, as they get faster, the pitch of the sound will get higher!
</p>

<p class = "tutorial-text">
  We're able to play with this ourselves using the program below. What are we looking at?
</p>

<p class = "tutorial-text">
  <ul>
    <li><strong>Play/Stop Button</strong>: Use the big green circular button in the top left to start and stop the sound</li>
    <li><strong>Pitch Slider</strong>: The slider in the bottom right controls how fast we send the spikes to the speaker</li>
    <li><strong>Oscilloscope</strong>: The display under the Play Button in the bottom right shows us the signal that we are currently sending to the speaker</li>
  </ul>
</p>

<h3>Task</h3>
<p class = "tutorial-text">
  You first task is to get comfortable using this interface
</p>
<p class = "tutorial-text">
  <ul>
    <li>Can you start and stop the sound?</li>
    <li>Can you change the speed of the spikes using the slider?</li>
    <li>At what speed does the sound stop sounding like lots of short sounds, and start sounding like one long sound?</li>
  </ul>
</p>

<!-- Impulse -->
{{embedded-project docId = "3bd8a4b1-8d1f-dd1b-f61a-27e2b7a4f88f" height = "350px" manualLoad = false}}

<h2>2. Triangle Waves</h2>

<p class = "tutorial-text">
  So now we have a pitched sound, but only once its going fast, and its not a very nice sound! We can get a much more musical sound by smoothly moving up to 1, then smoothly down to -1. This is called a <strong>Triangle Wave</strong>, because it looks like a triangle! In the same way as before, the faster we move in and out, the higher pitched the sound becomes.
</p>

<h3>Task</h3>
<p class = "tutorial-text">
  Use the program below to play with the triangle wave, using the slider to alter the pitch
</p>
<p class = "tutorial-text">
  <ul>
    <li>How is this sound different to the first sound?</li>
    <li>Do you prefer the lower or higher sounds?</li>
    <li>What is lowest sound you can still hear?</li>
    <li>Can you use this slider to play a song like an instrument?</li>
  </ul>
</p>

<!-- Triangle -->
{{embedded-project docId = "16e26851-9342-0d64-b48f-b541e1f1e976" height = "350px" manualLoad = false}}

<h2>3. Volume and Square Waves</h2>

<p class = "tutorial-text">
  So we know that how fast we move between 1 and -1 determines the pitch of the sound. Now we'll see that the range of the numbers we go up and down to controls the volume of the sound. For example, if instead of going between 1 and -1, we go between 0.5 and -0.5, the sound will be quieter!
</p>

<p class = "tutorial-text">
  You can use the slider on the program below in 2 dimensions to control the sound. Left and right controls the pitch, and up and down controls the volume.
</p>

<p class = "tutorial-text">
  In the demo below, we've also changed the shape of the wave again, which makes a different sound. Instead of smoothly moving in a line, or doing short bursts, we move to the top, stay there for a while, then move back down again and stay there. This is called a <strong>Square Wave</strong> because, you've guessed it, it looks like a square.
</p>

<h3>Task</h3>
<p class = "tutorial-text">
  Use the program below to play with the wave wave, using the slider to alter the pitch (left and right) and the volume (up and down)
</p>
<p class = "tutorial-text">
  <ul>
    <li>How is this sound different to the triangle wave?</li>
    <li>Can you see the wave get taller and shorter when the volume gets higher and lower?</li>
    <li>Can you use this slider to play a song like an instrument? Does having control over the volume make it better?</li>
  </ul>
</p>

<!-- Square Amp -->
{{embedded-project docId = "bd83bd36-feb9-885c-077e-d892b80ebc24" height = "350px" manualLoad = false}}


<h2>4. Noise</h2>

<p class = "tutorial-text">
  Finally, we'll look at what happens if you just use random numbers to control the speaker. This is called noise! Where have you heard sounds like this before?
</p>

<h3>Task</h3>
<p class = "tutorial-text">
  Use the slider to change the volume of the noise. Look how the waveform gets bigger and smaller as the sound gets louder and quieter.
</p>

<!-- Noise -->
{{embedded-project docId = "5f2d6495-46db-8d54-50f1-a0960d8e7aad" height = "350px" manualLoad = false}}

<h2>5. Sound Files</h2>

<p class = "tutorial-text">
  Instead of making the signals for the speakers using maths, we can record sounds from the physical world, and play these back! Although the sounds and signal look a lot more complicated, the principles are actually exactly the same. In fact, all recorded sounds are just combinations of the simple waves we have seen, starting at different points and changing speed and volume in different ways over time.
</p>

<p class = "tutorial-text">
  Take a look at this audio file, you can see that the it has similar waves to the oscilloscope signal we saw when making the electronic sounds earlier.
</p>
<p class = "tutorial-text">
  Click the waveform to play the sound and watch as the playhead moves across the sample. This is signal that is being sent to the speaker to move it in and out!
</p>

<!-- Short Waveform -->
{{embedded-project docId = "
5ac1cfbb-0498-445e-b8ab-f126ba4a19dd" height = "300px" manualLoad = false}}

<h3>Changing the Speed</h3>

<p class = "tutorial-text">
  In the same way that we move up and down faster or slower to change the pitch of the electronic sounds, we can move through the audio file slower or faster.
</p>

<p class = "tutorial-text">
  <ul>
    <li>Moving through the audio file <strong>slowly</strong> makes the sound appear lower pitched and also the events happen more slowly </li>
    <li>Moving through the audio file <strong>quickly</strong> makes the sound appear higher pitched and also the events happen more quickly</li>
  </ul>
</p>

<h3>Task</h3>
<p class = "tutorial-text">
  Here we have two different audio files. One is some instruments and another is a drump loop. Try the tasks below with both files to hear the differences.
</p>
<p class = "tutorial-text">
  <ul>
    <li>Click on the audio files to start playing, and click again to pause. You will see the progress bar move as you move through the audio file. Can you see the louder parts of the sound happen when the waveform is bigger? </li>
    <li>Use the slider underneather the waveform to speed up and slow down the playback. You can see the progress bar move at different speeds and listen to the results</li>
    <li>Set the speed to really slow and listen for a while as it moves through the file. It almost sounds like a completely different song!</li>
    <li>What do you think happens when we move through the audio file backwards?</li>
  </ul>
</p>

<!-- Pitch change soul sample -->
{{embedded-project docId = "
e6123cba-cab9-b34f-2fec-65f20a693c6e" height = "350px" manualLoad = false}}

<!-- Pitch change drum sample -->
{{embedded-project docId = "
be63fe09-64e2-bf2e-639f-d648c2c6864a" height = "350px" manualLoad = false}}

<h2>6. Sequencing Changes in Sound Files</h2>

<p class = "tutorial-text">
  Whilst its fun to play with sliders by hand to control the how the computer plays back the audio files, one of the great things about computers is we can program them to change over time by themselves. This is known as <strong> Sequencing</strong>.
</p>

<p class = "tutorial-text">
  The program below is a bit more complicated than other ones we've used so lets go through it carefully.
</p>

<p class = "tutorial-text">
  <ul>
    <li><strong> The Waveforms</strong>: There are two tracks, an instrumental track and a drum track. When these play, you'll see the playhead move across the waveform like in the earlier examples</li>
    <li><strong> The Sequencer</strong>: There is also a sequencer underneath, and this controls where in audio file we play from and what speed we move through the audio file at a given time step</li>
    <li>Using this, we can program in a pattern that jumps around the audio files and repitches the audio to make a new track!</li>
  </ul>
</p>

<h3>Task Part 1</h3>
<p class = "tutorial-text">
  First we're just going to play and watch the sequence play through
</p>
<p class = "tutorial-text">
  <ul>
    <li>Hit the "PLAY" button at the bottom</li>
    <li>Watch as the sequencer moves along underneath the audio files. Also look how the text at the end changes when it reaches a new time step telling you where the audio is skipping to and what the pitch is</li>
  </ul>
</p>

<!-- Pitch position sequencer -->
{{embedded-project docId = "
7c367fdb-2ebb-3841-22e6-c6435674a048" height = "700px" manualLoad = false}}

<h3>Programming the Sequencer</h3>

<p class = "tutorial-text">
  <ul>
    <li>The sequencer at the bottom moves through 8 different steps one after another.</li>
    <li>At each step there is an instruction stored about how to play back each of the two  tracks, either by changing the speed, or skipping to another point in the audio file.</li>
    <li>When you click on a square on the sequencer, you can see which instructions are stored there on the sliders and labels above.</li>
    <li>You can then use these sliders to change the instructions for that particular time step.</li>
    <li>To change the instructions for another time step, just click on another square on the sequencer. You'll know which one you're currently working with because it will be filled in green!</li>
    <li>The top row controls Track 1, and the bottom row Track 2.</li>
  </ul>

</p>

<h3>Task Part 2</h3>
<p class = "tutorial-text">
  Sequencing the start position of Track 1. First follow our instructions to get a feel for how it works, then try making your tracks.
</p>
<p class = "tutorial-text">
  <ul>
    <li>
      Program to skip to audio file back to beginning (position 0) at time step 2
      <br><br>
      <ol>
        <li>
          Click on the 2nd square in the top row of the sequence.
        </li>
        <li>
          Then move the Position slider down from 0.125 to 0.
        </li>
      </ol>
      <br>
      </li>
      <li>
        Program to skip to audio file back to beginning (position 0) at time step 3
        <br><br>
        <ol>
          <li>
            Click on the 3rd square in the top row of the sequence.
          </li>
          <li>
            Then move the Position slider down from 0.25 to 0.
          </li>
        </ol>
        <br>
        </li>
    <li>Do this for the 4th square as well. Listen to the audio playback and watch the playhead as the audio file loops back to the beginning four times in a row at the sequencer plays</li>
    <li>Try this for some of the others squares with different start positions to make your own track. Try changing Track 2 as well!</li>
  </ul>
</p>

<h3>Task Part 3</h3>
<p class = "tutorial-text">
  Sequencing the pitch of both tracks
</p>
<p class = "tutorial-text">
  <ul style = "">
    <li>
      Program to start playing back the audio at half the speed at time step 4
      <br><br>
      <ol>
        <li>
          Click on the 4th square in the top row of the sequence
        </li>
        <li>
          Then move the Pitch slider down from 1 to 0.5
        </li>
      </ol>
      <br>
      </li>
      <li>
        Program to start playing back the audio at 1.5 times the speed at time step 5
        <br><br>
        <ol>
          <li>
            Click on the 5th square in the top row of the sequence
          </li>
          <li>
            Then move the Pitch slider up from 1 to 1.5
          </li>
        </ol>
        <br>
        </li>
    <li>Listen to the audio playback and watch the playhead as the audio file slows down and speeds up when it reaches the time steps on the sequencer. You should be able to hear the pitch getting higher and lower</li>
    <li>Try this for some of the others squares with different pitches to make your own track. Try changing Track 2 as well!</li>
  </ul>
</p>
  <br>  <br>  <br>  <br>  <br>
<h2> AND WE'RE DONE. THANKS. YOU'RE GREAT.</h2>
  <br>  <br>  <br>  <br>  <br>
<p class = "tutorial-text">
</p>

</div>
